empy
catkin_pkg
python-can
dm_env
pexpect
minimalmodbus
pymodbus==3.5.1
pyserial
pyquaternion
pyagxrobots
pycryptodome
ipython
h5py
PyYAML
tqdm
wandb
mediapipe
PyQt5
PyQt5-sip
pyqtgraph
dm_control
uvicorn
tabulate
